* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_2 {
  width: 100%;
  height: 2663px;
  background: rgba(234,241,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_3 {
  width: 100%;
  height: 289px;
  background: url("../images/v3_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 100px;
  overflow: hidden;
}
.v3_4 {
  width: 100%;
  height: 289px;
  background: rgba(75,135,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_5 {
  width: 100%;
  height: 289px;
  background: rgba(88,143,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_6 {
  width: 196px;
  height: 192px;
  background: url("../images/v3_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 1088px;
  overflow: hidden;
}
.v3_7 {
  width: 472px;
  height: 260px;
  background: url("../images/v3_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 1028px;
  overflow: hidden;
}
.v3_8 {
  width: 472px;
  height: 260px;
  background: url("../images/v3_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_9 {
  width: 472px;
  height: 260px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_10 {
  width: 121px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 29px;
  left: 66px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_11 {
  width: 218px;
  height: 103px;
  background: url("../images/v3_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 30px;
  overflow: hidden;
}
.v3_12 {
  width: 57px;
  color: rgba(255,170,43,1);
  position: absolute;
  top: 47px;
  left: 161px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v3_13 {
  width: 176px;
  color: rgba(36,36,36,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v3_14 {
  width: 987px;
  height: 159px;
  background: url("../images/v3_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 186px;
  overflow: hidden;
}
.v3_15 {
  width: 987px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: TT Firs Neue;
  font-weight: Bold;
  font-size: 46px;
  opacity: 1;
  text-align: left;
}
.v3_16 {
  width: 879px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 66px;
  left: 0px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_17 {
  width: 435px;
  height: 260px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 573px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_18 {
  width: 310px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 744px;
  left: 650px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_19 {
  width: 289px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 913px;
  left: 603px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_20 {
  width: 74px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 811px;
  left: 603px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v3_21 {
  width: 260px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 912px;
  left: 1058px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_22 {
  width: 16px;
  background: url("../images/v3_22.png");
  opacity: 1;
  position: absolute;
  top: 773px;
  left: 77px;
  border: 1px solid rgba(217,217,217,1);
}
.v3_23 {
  width: 520px;
  height: 265px;
  background: url("../images/v3_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 100px;
  overflow: hidden;
}
.v3_24 {
  width: 520px;
  height: 265px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_25 {
  width: 339px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 31px;
  left: 73px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_26 {
  width: 161px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 116px;
  left: 30px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v3_27 {
  width: 45px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 173px;
  left: 200px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_28 {
  width: 319px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 218px;
  left: 25px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_29 {
  width: 435px;
  height: 265px;
  background: url("../images/v3_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 640px;
  overflow: hidden;
}
.v3_30 {
  width: 435px;
  height: 265px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_31 {
  width: 271px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 31px;
  left: 80px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_32 {
  width: 150px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 116px;
  left: 29px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v3_33 {
  width: 322px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 219px;
  left: 29px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_34 {
  width: 405px;
  height: 265px;
  background: url("../images/v3_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 1095px;
  overflow: hidden;
}
.v3_35 {
  width: 405px;
  height: 265px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_36 {
  width: 196px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 31px;
  left: 72px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_37 {
  width: 168px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 116px;
  left: 27px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v3_38 {
  width: 54px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 217px;
  left: 30px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_39 {
  width: 453px;
  height: 260px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_40 {
  width: 344px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 912px;
  left: 125px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_41 {
  width: 207px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 738px;
  left: 173px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_42 {
  width: 282px;
  height: 103px;
  background: url("../images/v3_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 810px;
  left: 127px;
  overflow: hidden;
}
.v3_43 {
  width: 218px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 32px;
  left: 64px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_44 {
  width: 52px;
  color: rgba(36,36,36,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v3_45 {
  width: 848px;
  height: 366px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 994px;
  left: 100px;
  border: 2px solid rgba(75,135,255,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_46 {
  width: 602px;
  color: url("../images/v3_46.png");
  position: absolute;
  top: 1039px;
  left: 142px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v3_47 {
  width: 635px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1101px;
  left: 196px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_48 {
  width: 532px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 1401px;
  left: 99px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v3_49 {
  width: 96px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 602px;
  left: 1298px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_50 {
  width: 96px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 601px;
  left: 814px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_51 {
  width: 32px;
  height: 32px;
  background: url("../images/v3_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 127px;
  overflow: hidden;
}
.v3_52 {
  width: 32px;
  height: 32px;
  background: url("../images/v3_52.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(75,135,255,1);
}
.v3_53 {
  width: 8px;
  height: 16px;
  background: rgba(75,135,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 16px;
  border: 1px solid rgba(75,135,255,1);
}
.v3_54 {
  width: 32px;
  height: 32px;
  background: url("../images/v3_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 1122px;
  overflow: hidden;
}
.v3_55 {
  width: 32px;
  height: 32px;
  background: url("../images/v3_55.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(75,135,255,1);
}
.v3_56 {
  width: 16px;
  height: 12px;
  background: rgba(75,135,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
}
.v3_57 {
  width: 32px;
  height: 32px;
  background: url("../images/v3_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 667px;
  overflow: hidden;
}
.v3_58 {
  width: 32px;
  height: 32px;
  background: url("../images/v3_58.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(75,135,255,1);
}
.v3_59 {
  width: 16px;
  height: 12px;
  background: rgba(75,135,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
}
.v3_60 {
  width: 32px;
  height: 36px;
  background: url("../images/v3_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 129px;
  overflow: hidden;
}
.v3_61 {
  width: 29px;
  height: 31px;
  background: url("../images/v3_61.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  border: 3px solid rgba(75,135,255,1);
}
.v3_62 {
  width: 19px;
  height: 28px;
  background: url("../images/v3_62.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(75,135,255,1);
}
.v3_63 {
  width: 48px;
  height: 30px;
  background: rgba(255,170,43,1);
  opacity: 1;
  position: absolute;
  top: 807px;
  left: 681px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v3_64 {
  width: 32px;
  height: 19px;
  background: url("../images/v3_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 813px;
  left: 689px;
  overflow: hidden;
}
.v3_65 {
  width: 20px;
  color: url("../images/v3_65.png");
  position: absolute;
  top: 0px;
  left: 13px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v3_66 {
  width: 9px;
  height: 14px;
  background: url("../images/v3_66.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 2.3449134826660156px solid rgba(255,255,255,1);
}
.v3_67 {
  width: 38px;
  height: 30px;
  background: url("../images/v3_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 594px;
  overflow: hidden;
}
.v3_68 {
  width: 37px;
  height: 29px;
  background: rgba(75,135,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(75,135,255,1);
}
.v3_69 {
  width: 13px;
  height: 12px;
  background: rgba(75,135,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  border: 1px solid rgba(75,135,255,1);
}
.name {
  color: #fff;
}
.v3_71 {
  width: 32px;
  height: 37px;
  background: url("../images/v3_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 737px;
  left: 1052px;
  overflow: hidden;
}
.v3_72 {
  width: 23px;
  height: 27px;
  background: url("../images/v3_72.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(75,135,255,1);
}
.v3_73 {
  width: 12px;
  height: 14px;
  background: url("../images/v3_73.png");
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 20px;
  border: 3px solid rgba(75,135,255,1);
}
.v3_74 {
  width: 31px;
  height: 31px;
  background: rgba(225,232,247,1);
  opacity: 1;
  position: absolute;
  top: 1095px;
  left: 144px;
  border-radius: 50%;
}
.v3_75 {
  width: 6px;
  color: rgba(75,135,255,1);
  position: absolute;
  top: 1101px;
  left: 157px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v3_76 {
  width: 31px;
  height: 31px;
  background: rgba(225,232,247,1);
  opacity: 1;
  position: absolute;
  top: 1155px;
  left: 144px;
  border-radius: 50%;
}
.v3_77 {
  width: 10px;
  color: rgba(75,135,255,1);
  position: absolute;
  top: 1161px;
  left: 155px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v3_78 {
  width: 31px;
  height: 31px;
  background: rgba(225,232,247,1);
  opacity: 1;
  position: absolute;
  top: 1194px;
  left: 144px;
  border-radius: 50%;
}
.v3_79 {
  width: 10px;
  color: rgba(75,135,255,1);
  position: absolute;
  top: 1200px;
  left: 156px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v3_80 {
  width: 31px;
  height: 31px;
  background: rgba(225,232,247,1);
  opacity: 1;
  position: absolute;
  top: 1233px;
  left: 144px;
  border-radius: 50%;
}
.v3_81 {
  width: 10px;
  color: rgba(75,135,255,1);
  position: absolute;
  top: 1240px;
  left: 155px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v3_82 {
  width: 31px;
  height: 31px;
  background: rgba(225,232,247,1);
  opacity: 1;
  position: absolute;
  top: 1274px;
  left: 144px;
  border-radius: 50%;
}
.v3_83 {
  width: 10px;
  color: rgba(75,135,255,1);
  position: absolute;
  top: 1281px;
  left: 155px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v3_84 {
  width: 532px;
  height: 366px;
  background: url("../images/v3_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 994px;
  left: 968px;
  overflow: hidden;
}
.v3_85 {
  width: 532px;
  height: 366px;
  background: rgba(255,206,132,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_86 {
  width: 464px;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_87 {
  width: 459px;
  color: rgba(255,152,0,1);
  position: absolute;
  top: 276px;
  left: 56px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_88 {
  width: 405px;
  height: 196px;
  background: url("../images/v3_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 30px;
  overflow: hidden;
}
.v3_89 {
  width: 207px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 0px;
  left: 44px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_90 {
  width: 405px;
  height: 103px;
  background: url("../images/v3_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 0px;
  overflow: hidden;
}
.v3_91 {
  width: 340px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 30px;
  left: 65px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_92 {
  width: 52px;
  color: rgba(36,36,36,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v3_93 {
  width: 115px;
  height: 97px;
  background: url("../images/v3_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 387px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v3_99 {
  width: 171px;
  height: 151px;
  background: url("../images/v3_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 388px;
  overflow: hidden;
}
.v3_100 {
  width: 179px;
  height: 158px;
  background: url("../images/v3_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 1318px;
  overflow: hidden;
}
.v3_101 {
  width: 120px;
  height: 113px;
  background: url("../images/v3_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1136px;
  left: 812px;
  transform: rotate(-89deg);
  overflow: hidden;
}
.v3_102 {
  width: 100%;
  height: 430px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2149px;
  left: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_103 {
  width: 909px;
  height: 120px;
  background: rgba(221,232,255,1);
  opacity: 1;
  position: absolute;
  top: 2189px;
  left: 137px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v3_104 {
  width: 202px;
  color: rgba(75,135,255,1);
  position: absolute;
  top: 2603px;
  left: 695px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_105 {
  width: 512px;
  color: rgba(75,135,255,1);
  position: absolute;
  top: 2500px;
  left: 141px;
  font-family: TT Firs Neue;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v3_106 {
  width: 778px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2331px;
  left: 137px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_107 {
  width: 778px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2383px;
  left: 141px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v3_108 {
  width: 805px;
  color: url("../images/v3_108.png");
  position: absolute;
  top: 2221px;
  left: 213px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_999 {
  width: 635px;
  height: 733px;
  background: url("../images/ist.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1933px;
  left: 923px;
  overflow: hidden;
}

.v3_998 {
  width: 635px;
  height: 733px;
  background: url("../images/rus.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1933px;
  left: 923px;
  overflow: hidden;
}

.v3_997 {
  width: 635px;
  height: 733px;
  background: url("../images/obs.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1933px;
  left: 923px;
  overflow: hidden;
}

.v3_110 {
  width: 641px;
  height: 152px;
  background: url("../images/v3_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1520px;
  left: 766px;
  overflow: hidden;
}
.v3_111 {
  width: 196px;
  color: rgba(88,143,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_112 {
  width: 641px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_113 {
  width: 641px;
  color: rgba(88,143,255,1);
  position: absolute;
  top: 1724px;
  left: 766px;
  font-family: TT Firs Neue;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v3_114 {
  width: 641px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1764px;
  left: 766px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_115 {
  width: 673px;
  height: 626px;
  background: url("../images/v3_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1479px;
  left: 76px;
  overflow: hidden;
}
.v3_116 {
  width: 627px;
  height: 626px;
  background: url("../images/v3_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_117 {
  width: 90px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 364px;
  left: 0px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v3_118 {
  width: 157px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 598px;
  left: 246px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_119 {
  width: 549px;
  height: 549px;
  background: rgba(255,198,157,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 37px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.v3_120 {
  width: 100%;
  height: 100%;
  background: rgba(255,210,157,1);
  opacity: 1;
  position: absolute;
  top: 1114px;
  left: 459px;
  border-radius: 50%;
  box-shadow: 4px -4px 10px rgba(0.9019607901573181, 0.5254902243614197, 0.2235294133424759, 0.25);
}
.v3_121 {
  width: 831px;
  height: 831px;
  background: rgba(255,219,168,1);
  opacity: 1;
  position: absolute;
  top: 964px;
  left: 417px;
  border-radius: 50%;
  box-shadow: 4px -4px 10px rgba(0.9019607901573181, 0.5254902243614197, 0.2235294133424759, 0.25);
}
.v3_122 {
  width: 544px;
  height: 544px;
  background: rgba(255,235,188,1);
  opacity: 1;
  position: absolute;
  top: 820px;
  left: 273px;
  border-radius: 50%;
  box-shadow: 4px -4px 10px rgba(0.9019607901573181, 0.5254902243614197, 0.2235294133424759, 0.25);
}
.v3_123 {
  width: 316px;
  height: 316px;
  background: rgba(255,242,219,1);
  opacity: 1;
  position: absolute;
  top: 706px;
  left: 159px;
  border-radius: 50%;
  box-shadow: 4px -4px 10px rgba(0.9019607901573181, 0.5254902243614197, 0.2235294133424759, 0.25);
}
.v3_124 {
  width: 44px;
  color: rgba(75,135,255,1);
  position: absolute;
  top: 288px;
  left: 207px;
  font-family: TT Firs Neue;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v3_125 {
  width: 282px;
  height: 41px;
  background: url("../images/v3_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 330px;
  overflow: hidden;
}
.v3_126 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 12px;
  left: 14px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_127 {
  width: 15px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 22px;
  left: 1px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_128 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 33px;
  left: 18px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_129 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 44px;
  left: 32px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_130 {
  width: 11px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 54px;
  left: 46px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_131 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 65px;
  left: 59px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_132 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 77px;
  left: 72px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_133 {
  width: 6px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 89px;
  left: 84px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_134 {
  width: 13px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 97px;
  left: 93px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_135 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 110px;
  left: 105px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_136 {
  width: 10px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 123px;
  left: 117px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_137 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 135px;
  left: 127px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_138 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 149px;
  left: 138px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_139 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 163px;
  left: 148px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_140 {
  width: 11px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 178px;
  left: 158px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_141 {
  width: 12px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 191px;
  left: 167px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_142 {
  width: 11px;
  color: rgba(177,113,66,1);
  position: absolute;
  top: 206px;
  left: 176px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_143 {
  width: 280px;
  height: 50px;
  background: url("../images/v3_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 228px;
  overflow: hidden;
}
.v3_144 {
  width: 12px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 18px;
  left: 20px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_145 {
  width: 13px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 26px;
  left: 4px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_146 {
  width: 12px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 35px;
  left: 13px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_147 {
  width: 12px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 44px;
  left: 28px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_148 {
  width: 12px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 55px;
  left: 43px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_149 {
  width: 12px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 66px;
  left: 57px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_150 {
  width: 12px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 77px;
  left: 71px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_151 {
  width: 6px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 89px;
  left: 84px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_152 {
  width: 13px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 97px;
  left: 92px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_153 {
  width: 12px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 111px;
  left: 105px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_154 {
  width: 10px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 125px;
  left: 116px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_155 {
  width: 11px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 137px;
  left: 126px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_156 {
  width: 11px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 152px;
  left: 136px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_157 {
  width: 11px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 167px;
  left: 146px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_158 {
  width: 9px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 182px;
  left: 155px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_159 {
  width: 13px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 197px;
  left: 162px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_160 {
  width: 9px;
  color: rgba(196,137,94,1);
  position: absolute;
  top: 213px;
  left: 170px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_161 {
  width: 254px;
  height: 67px;
  background: url("../images/v3_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 44px;
  overflow: hidden;
}
.v3_162 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 34px;
  left: 35px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_163 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 36px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_164 {
  width: 10px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 40px;
  left: 1px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_165 {
  width: 11px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 44px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_166 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 51px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_167 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 59px;
  left: 50px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_168 {
  width: 6px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 69px;
  left: 66px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_169 {
  width: 13px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 77px;
  left: 76px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_170 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 90px;
  left: 90px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_171 {
  width: 10px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 104px;
  left: 102px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_172 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 117px;
  left: 112px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_173 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 133px;
  left: 122px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_174 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 150px;
  left: 130px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_175 {
  width: 11px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 168px;
  left: 136px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_176 {
  width: 12px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 185px;
  left: 141px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_177 {
  width: 11px;
  color: rgba(184,138,104,1);
  position: absolute;
  top: 203px;
  left: 143px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_178 {
  width: 266px;
  height: 237px;
  background: url("../images/v3_178.png");
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 0px;
  border: 3px solid rgba(75,135,255,1);
}
.v3_179 {
  width: 14px;
  height: 14px;
  background: rgba(75,135,255,1);
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 258px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v3_184 {
  width: 37px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 572px;
  left: 636px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_185 {
  width: 37px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 0px;
  left: 61px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_186 {
  width: 15px;
  color: rgba(36,36,36,1);
  position: absolute;
  top: 2046px;
  left: 87px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_187 {
  width: 119px;
  height: 117px;
  background: url("../images/v3_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 1418px;
  transform: rotate(-1deg);
  overflow: hidden;
}
.v3_188 {
  width: 142px;
  height: 29px;
  background: url("../images/v3_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 729px;
  overflow: hidden;
}
.v3_189 {
  width: 142px;
  height: 29px;
  background: url("../images/v3_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_190 {
  width: 32px;
  height: 29px;
  background: url("../images/v3_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_191 {
  width: 30px;
  height: 23px;
  background: rgba(241,145,55,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v3_192 {
  width: 1px;
  height: 1px;
  background: rgba(36,36,36,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 14px;
}
.v3_193 {
  width: 1px;
  height: 1px;
  background: rgba(36,36,36,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 17px;
}
.v3_194 {
  width: 10px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 11px;
}
.v3_195 {
  width: 7px;
  height: 4px;
  background: rgba(36,36,36,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 14px;
}
.v3_196 {
  width: 5px;
  height: 5px;
  background: rgba(36,36,36,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 13px;
}
.v3_197 {
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 14px;
}
.v3_198 {
  width: 13px;
  height: 5px;
  background: rgba(36,36,36,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 10px;
}
.v3_199 {
  width: 32px;
  height: 8px;
  background: rgba(36,36,36,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 0px;
}
.v3_200 {
  width: 31px;
  height: 24px;
  background: rgba(36,36,36,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v3_201 {
  width: 104px;
  height: 20px;
  background: rgba(36,36,36,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 39px;
}
.v3_202 {
  width: 35px;
  height: 49px;
  background: url("../images/v3_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2224px;
  left: 159px;
  overflow: hidden;
}
.v3_203 {
  width: 315px;
  height: 130px;
  background: url("../images/v3_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2446px;
  left: 1217px;
  transform: rotate(-19deg);
  overflow: hidden;
}
.v3_204 {
  width: 305px;
  height: 85px;
  background: rgba(88,143,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 12px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  transform: rotate(-11deg);
  overflow: hidden;
}
.v3_205 {
  width: 182px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 90px;
  font-family: TT Firs Neue;
  font-weight: DemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  transform: rotate(-11deg);
}
.v3_206 {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 95px;
  font-family: TT Firs Neue;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  transform: rotate(-11deg);
}
.v3_207 {
  width: 43px;
  height: 38px;
  background: url("../images/v3_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 38px;
  transform: rotate(-11deg);
  overflow: hidden;
}
.v3_208 {
  width: 40px;
  height: 31px;
  background: rgba(241,145,55,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  transform: rotate(-11deg);
}
.v3_209 {
  width: 1px;
  height: 1px;
  background: rgba(51,31,21,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 18px;
  transform: rotate(-11deg);
}
.v3_210 {
  width: 1px;
  height: 1px;
  background: rgba(51,31,21,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 23px;
  transform: rotate(-11deg);
}
.v3_211 {
  width: 14px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 15px;
  transform: rotate(-11deg);
}
.v3_212 {
  width: 9px;
  height: 5px;
  background: rgba(51,31,21,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  transform: rotate(-11deg);
}
.v3_213 {
  width: 7px;
  height: 7px;
  background: rgba(51,31,21,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 18px;
  transform: rotate(-11deg);
}
.v3_214 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 19px;
  transform: rotate(-11deg);
}
.v3_215 {
  width: 17px;
  height: 7px;
  background: rgba(51,31,21,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 12px;
  transform: rotate(-11deg);
}
.v3_216 {
  width: 43px;
  height: 11px;
  background: rgba(51,31,21,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 5px;
  transform: rotate(-11deg);
}
.v3_217 {
  width: 42px;
  height: 32px;
  background: rgba(51,31,21,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  transform: rotate(-11deg);
}
