.268_22112 { 
	overflow:hidden;
}.e268_22112 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:4841px;
	position:absolute;
}.e268_24121 { 
	width:1200px;
	height:4838.64501953125px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_24119 { 
	width:1200px;
	height:2419.322509765625px;
	position:absolute;
	left:0px;
	top:2419.322509765625px;
	background-image:url(ang_oge_images/image2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e268_24120 { 
	width:1200px;
	height:2419.322509765625px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(ang_oge_images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e268_22180 { 
	box-shadow:-3px 4px 5px rgba(88.00000235438347, 144.00000661611557, 255, 0.20000000298023224);
	width:1034px;
	height:3968px;
	position:absolute;
	left:83px;
	top:335px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e268_22181 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:47px;
}.e268_22182 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22183 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22184 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22185 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22186 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22187 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22188 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22188 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22189 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:150px;
}.e268_22190 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22191 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22192 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22193 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22194 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22195 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22196 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22196 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22197 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:253px;
}.e268_22198 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22199 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22200 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22201 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22202 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22203 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22204 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22204 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22205 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:356px;
}.e268_22206 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22207 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22208 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22209 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22210 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22211 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22212 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22212 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22213 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:459px;
}.e268_22214 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22215 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22216 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22217 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22218 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22219 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22220 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22220 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22221 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:562px;
}.e268_22222 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22223 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22224 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22225 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22226 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22227 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22228 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22228 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22229 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:665px;
}.e268_22230 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22231 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22232 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22233 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22234 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22235 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22236 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22236 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22237 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:768px;
}.e268_22238 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22239 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22240 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22241 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22242 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22243 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22244 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22244 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22245 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:871px;
}.e268_22246 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22247 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22248 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22249 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22250 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22251 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22252 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22252 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22253 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:974px;
}.e268_22254 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22255 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22256 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22257 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22258 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22259 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22260 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22260 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22261 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1077px;
}.e268_22262 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22263 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22264 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22265 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22266 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22267 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22268 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22268 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22269 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1180px;
}.e268_22270 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22271 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22272 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22273 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22274 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22275 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22276 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22276 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22277 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1283px;
}.e268_22278 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22279 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22280 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22281 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22282 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22283 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22284 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22284 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22285 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1386px;
}.e268_22286 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22287 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22288 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22289 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22290 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22291 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22292 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22292 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22293 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1489px;
}.e268_22294 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22295 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22296 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22297 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22298 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22299 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22300 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22300 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22301 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1592px;
}.e268_22302 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22303 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22304 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22305 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22306 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22307 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22308 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22308 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22309 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1695px;
}.e268_22310 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22311 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22312 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22313 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22314 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22315 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22316 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22316 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22317 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1798px;
}.e268_22318 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22319 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22320 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22321 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22322 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22323 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22324 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22324 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22325 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1901px;
}.e268_22326 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22327 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22328 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22329 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22330 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22331 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22332 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22332 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22333 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2004px;
}.e268_22334 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22335 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22336 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22337 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22338 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22339 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22340 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22340 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22341 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2107px;
}.e268_22342 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22343 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22344 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22345 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22346 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22347 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22348 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22348 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22349 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2210px;
}.e268_22350 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22351 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22352 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22353 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22354 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22355 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22356 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22356 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22357 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2313px;
}.e268_22358 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22359 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22360 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22361 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22362 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22363 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22364 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22364 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22365 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2416px;
}.e268_22366 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22367 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22368 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22369 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22370 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22371 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22372 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22372 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22373 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2519px;
}.e268_22374 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22375 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22376 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22377 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22378 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22379 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22380 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22380 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22381 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2622px;
}.e268_22382 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22383 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22384 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22385 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22386 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22387 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22388 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22388 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22389 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2725px;
}.e268_22390 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22391 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22392 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22393 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22394 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22395 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22396 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22396 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22397 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2828px;
}.e268_22398 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22399 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22400 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22401 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22402 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22403 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22404 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22404 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22405 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2931px;
}.e268_22406 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22407 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22408 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22409 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22410 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22411 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22412 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22412 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22413 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:3034px;
}.e268_22414 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22415 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22416 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22417 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22418 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22419 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22420 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22420 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22421 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:3137px;
}.e268_22422 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22423 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22424 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22425 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22426 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22427 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22428 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22428 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22429 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:3240px;
}.e268_22430 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22431 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22432 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22433 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22434 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22435 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22436 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22436 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22437 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:3343px;
}.e268_22438 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22439 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22440 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22441 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22442 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22443 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22444 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22444 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22445 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:3446px;
}.e268_22446 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22447 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22448 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22449 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22450 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22451 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22452 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22452 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22453 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:3549px;
}.e268_22454 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22455 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22456 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22457 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22458 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22459 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22460 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22460 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22461 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:3652px;
}.e268_22462 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22463 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22464 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22465 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22466 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22467 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22468 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22468 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22469 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:3755px;
}.e268_22470 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22471 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22472 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22473 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22474 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22475 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_22476 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_22476 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_22477 { 
	width:929px;
	height:63px;
	position:absolute;
	left:52px;
	top:3858px;
}.e268_22478 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_22479 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22480 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22481 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22482 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22483 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_22646 { 
	width:436px;
	height:70px;
	position:absolute;
	left:392px;
	top:4372px;
}.e268_22647 { 
	box-shadow:0px 4px 6px rgba(185.00000417232513, 203.00000309944153, 255, 1);
	background-color:rgba(255, 170.4249894618988, 43.562504053115845, 1);
	width:436px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e268_22648 { 
	color:rgba(255, 255, 255, 1);
	width:372px;
	height:25px;
	position:absolute;
	left:32px;
	top:23px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}