.268_32011 { 
	overflow:hidden;
}.e268_32011 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:3393px;
	position:absolute;
}.e268_32447 { 
	width:1200px;
	height:3391.44921875px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32445 { 
	width:1200px;
	height:1695.724609375px;
	position:absolute;
	left:0px;
	top:1695.724609375px;
	background-image:url(him_oge_images/image2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e268_32446 { 
	width:1200px;
	height:1695.724609375px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(him_oge_images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e268_32079 { 
	box-shadow:-3px 4px 5px rgba(88.00000235438347, 144.00000661611557, 255, 0.20000000298023224);
	width:1034px;
	height:2526px;
	position:absolute;
	left:83px;
	top:335px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e268_32080 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:47px;
}.e268_32081 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32082 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32083 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32084 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32085 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32086 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32087 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32087 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32088 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:150px;
}.e268_32089 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32090 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32091 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32092 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32093 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32094 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32095 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32095 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32096 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:253px;
}.e268_32097 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32098 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32099 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32100 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32101 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32102 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32103 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32103 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32104 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:356px;
}.e268_32105 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32106 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32107 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32108 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32109 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32110 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32111 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32111 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32112 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:459px;
}.e268_32113 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32114 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32115 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32116 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32117 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32118 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32119 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32119 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32120 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:562px;
}.e268_32121 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32122 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32123 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32124 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32125 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32126 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32127 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32127 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32128 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:665px;
}.e268_32129 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32130 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32131 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32132 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32133 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32134 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32135 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32135 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32136 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:768px;
}.e268_32137 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32138 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32139 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32140 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32141 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32142 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32143 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32143 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32144 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:871px;
}.e268_32145 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32146 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32147 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32148 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32149 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32150 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32151 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32151 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32152 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:974px;
}.e268_32153 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32154 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32155 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32156 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32157 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32158 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32159 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32159 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32160 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1077px;
}.e268_32161 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32162 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32163 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32164 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32165 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32166 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32167 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32167 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32168 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1180px;
}.e268_32169 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32170 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32171 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32172 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32173 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32174 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32175 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32175 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32176 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1283px;
}.e268_32177 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32178 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32179 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32180 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32181 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32182 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32183 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32183 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32184 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1386px;
}.e268_32185 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32186 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32187 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32188 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32189 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32190 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32191 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32191 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32192 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1489px;
}.e268_32193 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32194 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32195 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32196 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32197 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32198 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32199 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32199 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32200 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1592px;
}.e268_32201 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32202 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32203 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32204 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32205 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32206 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32207 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32207 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32208 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1695px;
}.e268_32209 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32210 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32211 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32212 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32213 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32214 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32215 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32215 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32216 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1798px;
}.e268_32217 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32218 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32219 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32220 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32221 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32222 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32223 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32223 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32224 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1901px;
}.e268_32225 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32226 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32227 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32228 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32229 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32230 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32231 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32231 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32232 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2004px;
}.e268_32233 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32234 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32235 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32236 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32237 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32238 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32239 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32239 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32240 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2107px;
}.e268_32241 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32242 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32243 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32244 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32245 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32246 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32247 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32247 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32248 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2210px;
}.e268_32249 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32250 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32251 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32252 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32253 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32254 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32255 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32255 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32256 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2313px;
}.e268_32257 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32258 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32259 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32260 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32261 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32262 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_32263 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_32263 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_32264 { 
	width:929px;
	height:63px;
	position:absolute;
	left:52px;
	top:2416px;
}.e268_32265 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_32266 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32267 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32268 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32269 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32270 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_32433 { 
	width:436px;
	height:70px;
	position:absolute;
	left:392px;
	top:2924px;
}.e268_32434 { 
	box-shadow:0px 4px 6px rgba(185.00000417232513, 203.00000309944153, 255, 1);
	background-color:rgba(255, 170.4249894618988, 43.562504053115845, 1);
	width:436px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e268_32435 { 
	color:rgba(255, 255, 255, 1);
	width:372px;
	height:25px;
	position:absolute;
	left:32px;
	top:23px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}