.271_50971 { 
	overflow:hidden;
}.e271_50971 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:3699px;
	position:absolute;
}.e271_56347 { 
	width:1200px;
	height:3699.333251953125px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_56345 { 
	width:1200px;
	height:1850px;
	position:absolute;
	left:-3.637978807091713e-12px;
	top:1849.3333740234375px;
	background-image:url(inf_ege_images/image2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e271_56346 { 
	width:1200px;
	height:1849.3333740234375px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(inf_ege_images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e271_50975 { 
	box-shadow:-3px 4px 5px rgba(88.00000235438347, 144.00000661611557, 255, 0.20000000298023224);
	width:1034px;
	height:2835px;
	position:absolute;
	left:83px;
	top:335px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e271_50976 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:47px;
}.e271_50977 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_50978 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50979 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50980 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50981 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50982 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_50983 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_50983 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_50984 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:150px;
}.e271_50985 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_50986 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50987 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50988 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50989 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50990 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_50991 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_50991 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_50992 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:253px;
}.e271_50993 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_50994 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50995 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50996 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50997 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_50998 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_50999 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_50999 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51000 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:356px;
}.e271_51001 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51002 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51003 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51004 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51005 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51006 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51007 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51007 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51008 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:459px;
}.e271_51009 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51010 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51011 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51012 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51013 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51014 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51015 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51015 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51016 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:562px;
}.e271_51017 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51018 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51019 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51020 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51021 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51022 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51023 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51023 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51024 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:665px;
}.e271_51025 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51026 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51027 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51028 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51029 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51030 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51031 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51031 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51032 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:768px;
}.e271_51033 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51034 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51035 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51036 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51037 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51038 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51039 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51039 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51040 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:871px;
}.e271_51041 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51042 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51043 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51044 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51045 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51046 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51047 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51047 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51048 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:974px;
}.e271_51049 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51050 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51051 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51052 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51053 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51054 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51055 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51055 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51056 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1077px;
}.e271_51057 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51058 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51059 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51060 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51061 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51062 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51063 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51063 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51064 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1180px;
}.e271_51065 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51066 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51067 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51068 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51069 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51070 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51071 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51071 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51072 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1283px;
}.e271_51073 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51074 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51075 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51076 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51077 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51078 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51079 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51079 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51080 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1386px;
}.e271_51081 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51082 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51083 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51084 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51085 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51086 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51087 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51087 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51088 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1489px;
}.e271_51089 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51090 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51091 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51092 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51093 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51094 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51095 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51095 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51096 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1592px;
}.e271_51097 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51098 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51099 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51100 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51101 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51102 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51103 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51103 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51104 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1695px;
}.e271_51105 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51106 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51107 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51108 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51109 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51110 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51111 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51111 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51112 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1798px;
}.e271_51113 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51114 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51115 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51116 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51117 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51118 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51119 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51119 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51120 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1901px;
}.e271_51121 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51122 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51123 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51124 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51125 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51126 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51127 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51127 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51128 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2004px;
}.e271_51129 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51130 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51131 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51132 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51133 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51134 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51135 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51135 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51136 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2107px;
}.e271_51137 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51138 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51139 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51140 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51141 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51142 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51143 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51143 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51144 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2210px;
}.e271_51145 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51146 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51147 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51148 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51149 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51150 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51151 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51151 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51152 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2313px;
}.e271_51153 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51154 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51155 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51156 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51157 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51158 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51159 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51159 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51160 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2416px;
}.e271_51161 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51162 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51163 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51164 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51165 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51166 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51167 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51167 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51168 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2519px;
}.e271_51169 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51170 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51171 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51172 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51173 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51174 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51175 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51175 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51176 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2622px;
}.e271_51177 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51178 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51179 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51180 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51181 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51182 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_51183 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_51183 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_51184 { 
	width:929px;
	height:63px;
	position:absolute;
	left:52px;
	top:2725px;
}.e271_51185 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_51186 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51187 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51188 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51189 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51190 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_51192 { 
	width:436px;
	height:70px;
	position:absolute;
	left:392px;
	top:3230px;
}.e271_51193 { 
	box-shadow:0px 4px 6px rgba(185.00000417232513, 203.00000309944153, 255, 1);
	background-color:rgba(255, 170.4249894618988, 43.562504053115845, 1);
	width:436px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e271_51194 { 
	color:rgba(255, 255, 255, 1);
	width:372px;
	height:25px;
	position:absolute;
	left:32px;
	top:23px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}