.268_26179 { 
	overflow:hidden;
}.e268_26179 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:3393px;
	position:absolute;
}.e268_26615 { 
	width:1200px;
	height:3391.44921875px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26613 { 
	width:1200px;
	height:1695.724609375px;
	position:absolute;
	left:-1.8189894035458565e-12px;
	top:1695.724609375px;
	background-image:url(ist_oge_images/image2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e268_26614 { 
	width:1200px;
	height:1695.724609375px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(ist_oge_images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e268_26247 { 
	box-shadow:-3px 4px 5px rgba(88.00000235438347, 144.00000661611557, 255, 0.20000000298023224);
	width:1034px;
	height:2526px;
	position:absolute;
	left:83px;
	top:335px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e268_26248 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:47px;
}.e268_26249 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26250 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26251 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26252 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26253 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26254 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26255 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26255 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26256 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:150px;
}.e268_26257 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26258 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26259 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26260 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26261 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26262 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26263 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26263 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26264 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:253px;
}.e268_26265 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26266 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26267 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26268 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26269 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26270 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26271 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26271 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26272 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:356px;
}.e268_26273 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26274 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26275 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26276 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26277 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26278 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26279 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26279 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26280 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:459px;
}.e268_26281 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26282 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26283 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26284 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26285 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26286 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26287 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26287 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26288 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:562px;
}.e268_26289 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26290 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26291 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26292 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26293 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26294 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26295 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26295 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26296 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:665px;
}.e268_26297 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26298 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26299 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26300 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26301 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26302 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26303 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26303 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26304 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:768px;
}.e268_26305 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26306 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26307 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26308 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26309 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26310 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26311 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26311 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26312 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:871px;
}.e268_26313 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26314 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26315 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26316 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26317 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26318 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26319 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26319 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26320 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:974px;
}.e268_26321 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26322 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26323 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26324 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26325 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26326 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26327 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26327 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26328 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1077px;
}.e268_26329 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26330 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26331 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26332 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26333 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26334 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26335 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26335 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26336 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1180px;
}.e268_26337 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26338 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26339 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26340 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26341 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26342 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26343 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26343 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26344 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1283px;
}.e268_26345 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26346 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26347 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26348 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26349 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26350 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26351 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26351 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26352 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1386px;
}.e268_26353 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26354 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26355 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26356 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26357 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26358 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26359 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26359 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26360 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1489px;
}.e268_26361 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26362 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26363 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26364 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26365 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26366 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26367 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26367 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26368 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1592px;
}.e268_26369 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26370 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26371 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26372 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26373 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26374 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26375 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26375 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26376 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1695px;
}.e268_26377 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26378 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26379 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26380 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26381 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26382 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26383 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26383 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26384 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1798px;
}.e268_26385 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26386 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26387 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26388 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26389 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26390 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26391 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26391 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26392 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1901px;
}.e268_26393 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26394 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26395 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26396 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26397 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26398 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26399 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26399 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26400 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2004px;
}.e268_26401 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26402 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26403 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26404 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26405 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26406 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26407 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26407 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26408 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2107px;
}.e268_26409 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26410 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26411 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26412 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26413 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26414 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26415 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26415 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26416 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2210px;
}.e268_26417 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26418 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26419 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26420 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26421 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26422 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26423 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26423 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26424 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2313px;
}.e268_26425 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26426 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26427 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26428 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26429 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26430 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.268_26431 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e268_26431 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e268_26432 { 
	width:929px;
	height:63px;
	position:absolute;
	left:52px;
	top:2416px;
}.e268_26433 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e268_26434 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26435 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26436 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26437 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26438 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e268_26601 { 
	width:436px;
	height:70px;
	position:absolute;
	left:392px;
	top:2924px;
}.e268_26602 { 
	box-shadow:0px 4px 6px rgba(185.00000417232513, 203.00000309944153, 255, 1);
	background-color:rgba(255, 170.4249894618988, 43.562504053115845, 1);
	width:436px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e268_26603 { 
	color:rgba(255, 255, 255, 1);
	width:372px;
	height:25px;
	position:absolute;
	left:32px;
	top:23px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}