.271_54502 { 
	overflow:hidden;
}.e271_54502 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:2713px;
	position:absolute;
}.e271_56332 { 
	width:1200px;
	height:2713.333251953125px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(mat_ege_images/1____________________________.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e271_54503 { 
	width:1066px;
	height:1934px;
	position:absolute;
	left:68px;
	top:337px;
}.e271_54504 { 
	box-shadow:-3px 4px 5px rgba(88.00000235438347, 144.00000661611557, 255, 0.20000000298023224);
	width:1066px;
	height:1934px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:14.928570747375488px;
	border-top-right-radius:14.928570747375488px;
	border-bottom-left-radius:14.928570747375488px;
	border-bottom-right-radius:14.928570747375488px;
}.e271_54505 { 
	width:930px;
	height:1814px;
	position:absolute;
	left:67px;
	top:52px;
}.e271_54506 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54507 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54508 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54509 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54510 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54511 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54512 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54513 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54513 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54514 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:103px;
}.e271_54515 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54516 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54517 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54518 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54519 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54520 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54521 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54521 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54522 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:206px;
}.e271_54523 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54524 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54525 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54526 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54527 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54528 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54529 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54529 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54530 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:309px;
}.e271_54531 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54532 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54533 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54534 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54535 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54536 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54537 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54537 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54538 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:412px;
}.e271_54539 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54540 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54541 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54542 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54543 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54544 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54545 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54545 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54546 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:515px;
}.e271_54547 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54548 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54549 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54550 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54551 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54552 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54553 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54553 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54554 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:618px;
}.e271_54555 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54556 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54557 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54558 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54559 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54560 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54561 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54561 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54562 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:721px;
}.e271_54563 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54564 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54565 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54566 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54567 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54568 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54569 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54569 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54570 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:824px;
}.e271_54571 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54572 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54573 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54574 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54575 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54576 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54577 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54577 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54578 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:927px;
}.e271_54579 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54580 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54581 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54582 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54583 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54584 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54585 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54585 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54586 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1030px;
}.e271_54587 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54588 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54589 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54590 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54591 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54592 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54593 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54593 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54594 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1133px;
}.e271_54595 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54596 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54597 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54598 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54599 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54600 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54601 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54601 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54602 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1236px;
}.e271_54603 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54604 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54605 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54606 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54607 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54608 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54609 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54609 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54610 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1339px;
}.e271_54611 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54612 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54613 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54614 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54615 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54616 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54617 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54617 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54618 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1442px;
}.e271_54619 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54620 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54621 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54622 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54623 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54624 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54625 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54625 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54626 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1545px;
}.e271_54627 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54628 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54629 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54630 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54631 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54632 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54633 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54633 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54634 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1648px;
}.e271_54635 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54636 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54637 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54638 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54639 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54640 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54641 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54641 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54642 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:1751px;
}.e271_54643 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54644 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54645 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54646 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54647 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54648 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54650 { 
	box-shadow:0px 6px 9px rgba(200.56845277547836, 212.10621446371078, 245.43749392032623, 0.20000000298023224);
	width:436px;
	height:70px;
	position:absolute;
	left:392px;
	top:2331px;
}.e271_54651 { 
	width:436px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54652 { 
	box-shadow:0px 4px 6px rgba(185.00000417232513, 203.00000309944153, 255, 1);
	background-color:rgba(255, 170.4249894618988, 43.562504053115845, 1);
	width:436px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e271_54653 { 
	color:rgba(255, 255, 255, 1);
	width:372px;
	height:25px;
	position:absolute;
	left:32px;
	top:23px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}.e271_54654 { 
	width:930px;
	height:1814px;
	position:absolute;
	left:135px;
	top:389px;
}.e271_54655 { 
	width:930px;
	height:1814px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54656 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54657 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54658 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54659 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54660 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54661 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54662 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54663 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54663 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54664 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:103px;
}.e271_54665 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54666 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54667 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54668 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54669 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54670 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54671 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54671 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54672 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:206px;
}.e271_54673 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54674 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54675 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54676 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54677 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54678 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54679 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54679 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54680 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:309px;
}.e271_54681 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54682 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54683 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54684 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54685 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54686 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54687 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54687 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54688 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:412px;
}.e271_54689 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54690 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54691 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54692 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54693 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54694 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54695 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54695 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54696 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:515px;
}.e271_54697 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54698 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54699 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54700 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54701 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54702 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54703 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54703 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54704 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:618px;
}.e271_54705 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54706 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54707 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54708 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54709 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54710 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54711 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54711 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54712 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:721px;
}.e271_54713 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54714 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54715 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54716 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54717 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54718 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54719 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54719 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54720 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:824px;
}.e271_54721 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54722 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54723 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54724 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54725 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54726 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54727 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54727 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54728 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:927px;
}.e271_54729 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54730 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54731 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54732 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54733 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54734 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54735 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54735 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54736 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1030px;
}.e271_54737 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54738 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54739 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54740 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54741 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54742 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54743 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54743 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54744 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1133px;
}.e271_54745 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54746 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54747 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54748 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54749 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54750 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54751 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54751 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54752 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1236px;
}.e271_54753 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54754 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54755 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54756 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54757 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54758 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54759 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54759 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54760 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1339px;
}.e271_54761 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54762 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54763 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54764 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54765 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54766 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54767 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54767 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54768 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1442px;
}.e271_54769 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54770 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54771 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54772 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54773 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54774 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54775 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54775 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54776 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1545px;
}.e271_54777 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54778 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54779 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54780 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54781 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54782 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54783 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54783 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54784 { 
	width:930px;
	height:83px;
	position:absolute;
	left:0px;
	top:1648px;
}.e271_54785 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54786 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54787 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54788 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54789 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54790 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_54791 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_54791 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_54792 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:1751px;
}.e271_54793 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_54794 { 
	color:rgba(44.62499924004078, 44.62499924004078, 44.62499924004078, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54795 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54796 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54797 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_54798 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}