.271_46004 { 
	overflow:hidden;
}.e271_46004 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:3699px;
	position:absolute;
}.e271_56360 { 
	width:1200px;
	height:3699.333251953125px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_56358 { 
	width:1200px;
	height:1850px;
	position:absolute;
	left:0px;
	top:1849.3333740234375px;
	background-image:url(rus_ege_images/image2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e271_56359 { 
	width:1200px;
	height:1849.3333740234375px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(rus_ege_images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e271_46008 { 
	box-shadow:-3px 4px 5px rgba(88.00000235438347, 144.00000661611557, 255, 0.20000000298023224);
	width:1034px;
	height:2835px;
	position:absolute;
	left:83px;
	top:335px;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	border-bottom-left-radius:14px;
	border-bottom-right-radius:14px;
}.e271_46009 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:47px;
}.e271_46010 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46011 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46012 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46013 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46014 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46015 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46016 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46016 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46017 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:150px;
}.e271_46018 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46019 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46020 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46021 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46022 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46023 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46024 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46024 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46025 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:253px;
}.e271_46026 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46027 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46028 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46029 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46030 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46031 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46032 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46032 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46033 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:356px;
}.e271_46034 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46035 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46036 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46037 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46038 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46039 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46040 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46040 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46041 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:459px;
}.e271_46042 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46043 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46044 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46045 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46046 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46047 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46048 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46048 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46049 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:562px;
}.e271_46050 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46051 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46052 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46053 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46054 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46055 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46056 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46056 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46057 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:665px;
}.e271_46058 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46059 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46060 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46061 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46062 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46063 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46064 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46064 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46065 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:768px;
}.e271_46066 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46067 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46068 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46069 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46070 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46071 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46072 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46072 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46073 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:871px;
}.e271_46074 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46075 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46076 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46077 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46078 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46079 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46080 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46080 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46081 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:974px;
}.e271_46082 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46083 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46084 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46085 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46086 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46087 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46088 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46088 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46089 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1077px;
}.e271_46090 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46091 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46092 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46093 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46094 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46095 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46096 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46096 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46097 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1180px;
}.e271_46098 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46099 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46100 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46101 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46102 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46103 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46104 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46104 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46105 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1283px;
}.e271_46106 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46107 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46108 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46109 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46110 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46111 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46112 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46112 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46113 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1386px;
}.e271_46114 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46115 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46116 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46117 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46118 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46119 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46120 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46120 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46121 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1489px;
}.e271_46122 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46123 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46124 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46125 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46126 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46127 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46128 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46128 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46129 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1592px;
}.e271_46130 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46131 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46132 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46133 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46134 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46135 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46136 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46136 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46137 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1695px;
}.e271_46138 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46139 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46140 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46141 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46142 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46143 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46144 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46144 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46145 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1798px;
}.e271_46146 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46147 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46148 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46149 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46150 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46151 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46152 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46152 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46153 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:1901px;
}.e271_46154 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46155 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46156 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46157 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46158 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46159 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46160 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46160 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46161 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2004px;
}.e271_46162 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46163 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46164 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46165 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46166 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46167 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46168 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46168 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46169 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2107px;
}.e271_46170 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46171 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46172 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46173 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46174 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46175 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46176 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46176 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46177 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2210px;
}.e271_46178 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46179 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46180 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46181 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46182 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46183 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46184 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46184 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46185 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2313px;
}.e271_46186 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46187 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46188 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46189 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46190 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46191 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46192 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46192 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46193 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2416px;
}.e271_46194 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46195 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46196 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46197 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46198 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46199 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46200 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46200 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46201 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2519px;
}.e271_46202 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46203 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46204 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46205 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46206 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46207 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46208 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46208 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46209 { 
	width:930px;
	height:83px;
	position:absolute;
	left:52px;
	top:2622px;
}.e271_46210 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46211 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46212 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46213 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46214 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46215 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.271_46216 { 
	border:1px solid rgba(75.00000312924385, 135.00000715255737, 255, 1);
}.e271_46216 { 
	width:930px;
	height:0px;
	position:absolute;
	left:0px;
	top:83px;
}.e271_46217 { 
	width:929px;
	height:63px;
	position:absolute;
	left:52px;
	top:2725px;
}.e271_46218 { 
	width:929px;
	height:63px;
	position:absolute;
	left:0px;
	top:0px;
}.e271_46219 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:27px;
	position:absolute;
	left:0px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:left;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46220 { 
	color:rgba(0, 0, 0, 1);
	width:300px;
	height:63px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46221 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:21px;
	position:absolute;
	left:370px;
	top:21px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46222 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:545px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46223 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:27px;
	position:absolute;
	left:747px;
	top:18px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:17.91428565979004px;
	letter-spacing:0;
}.e271_46225 { 
	width:436px;
	height:70px;
	position:absolute;
	left:392px;
	top:3230px;
}.e271_46226 { 
	box-shadow:0px 4px 6px rgba(185.00000417232513, 203.00000309944153, 255, 1);
	background-color:rgba(255, 170.4249894618988, 43.562504053115845, 1);
	width:436px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:15px;
}.e271_46227 { 
	color:rgba(255, 255, 255, 1);
	width:372px;
	height:25px;
	position:absolute;
	left:32px;
	top:23px;
	font-family:TT Firs Neue;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}