.228_10409 { 
	overflow:hidden;
}.e228_10409 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:3849px;
	position:absolute;
}.e245_11233 { 
	width:1200px;
	height:3847.196px;
	position:absolute;
	left:0px;
	top:0px;
}.e228_11228 { 
	width:1200px;
	height:3847.196px;
	position:absolute;
	left:0;
	top:0px;
}.e228_11229 { 
	width:1200px;
	height:1923.598px;
	position:absolute;
	left:0px;
	top:1923.598px;
	background-image:url(main_images/image2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e228_11230 { 
	width:1200px;
	height:1923.598px;
	position:absolute;
	left:0;
	top:0px;
	background-image:url(main_images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e228_11149 { 
	width:296px;
	height:31px;
	position:absolute;
	left:452px;
	top:3756px;
}.e245_11326 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:3px;
	background-image:url(main_images/share.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e228_11156 { 
	color:rgba(44.624, 44.624, 44.624, 1);
	width:261px;
	height:31px;
	position:absolute;
	left:35px;
	top:0px;
	font-family:sans-serif;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e228_10910 { 
	box-shadow:0px 5px 10px rgba(163.211, 175.885, 212.499, 0.600);
	background-color:rgba(103, 154, 255, 1);
	width:557px;
	height:74px;
	position:absolute;
	left:321px;
	top:2955px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e228_10911 { 
	width:495px;
	height:37px;
	position:absolute;
	left:31px;
	top:18.5px;
}.e245_11325 { 
	width:35px;
	height:38px;
	position:absolute;
	left:-1px;
	top:-0.5px;
	background-image:url(main_images/present.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e228_10964 { 
	color:rgba(255, 255, 255, 1);
	width:450px;
	height:24px;
	position:absolute;
	left:46px;
	top:6.5px;
	font-family:sans-serif;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}.kim_max { 
	color:rgba(150, 150, 150, 1);
	width:84px;
	height:103px;
	position:absolute;
	left:219px;
	top:2747px;
	font-family:sans-serif;
	text-align:center;
	font-size:80px;
	letter-spacing:0;
}.kim_current { 
	color:rgba(255, 170.424, 43.562, 1);
	width:52px;
	height:103px;
	position:absolute;
	left:575px;
	top:2747px;
	font-family:sans-serif;
	text-align:center;
	font-size:80px;
	letter-spacing:0;
}.kim_future { 
	color:rgba(252, 95, 98, 1);
	width:80px;
	height:103px;
	position:absolute;
	left:901px;
	top:2747px;
	font-family:sans-serif;
	text-align:center;
	font-size:80px;
	letter-spacing:0;
}.e228_11024 { 
	box-shadow:0px 5px 10px rgba(163.211, 175.885, 212.499, 0.6);
	background-color:rgba(255, 170.424, 43.562, 1);
	width:365px;
	height:56px;
	position:absolute;
	left:100px;
	top:3549px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e228_11025 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:22px;
	position:absolute;
	left:99.5px;
	top:17px;
	font-family:sans-serif;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.xp { 
	color:rgba(44.624, 44.624, 44.624, 1);
	width:207px;
	height:103px;
	position:absolute;
	left:663px;
	top:1803px;
	font-family:sans-serif;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.learning_days{ 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:59px;
	position:absolute;
	left:682px;
	top:617px;
	font-family:sans-serif;
	text-align:center;
	font-size:46px;
	letter-spacing:0;
}.kim_overall { 
	color:rgba(44.624, 44.624, 44.624, 1);
	width:100px;
	height:103px;
	position:absolute;
	left:133px;
	top:799px;
	font-family:sans-serif;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.goal { 
	color:rgba(44.624, 44.624, 44.624, 0.5);
	width:90px;
	height:83px;
	position:absolute;
	left:335px;
	top:820px;
	font-family:sans-serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.web_hour_sum { 
	color:rgba(44.624, 44.624, 44.624, 1);
	width:115px;
	height:103px;
	position:absolute;
	left:645px;
	top:800px;
	font-family:sans-serif;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.web_hour_future{ 
	color:rgba(150.0000062584877, 150.0000062584877, 150.0000062584877, 1);
	width:138px;
	height:83px;
	position:absolute;
	left:880px;
	top:820px;
	font-family:sans-serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.hw_count { 
	color:rgba(44.624, 44.624, 44.624, 1);
	width:102px;
	height:103px;
	position:absolute;
	left:140px;
	top:1090px;
	font-family:sans-serif;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.hw_future { 
	color:rgba(150, 150, 150, 1);
	width:83px;
	height:83px;
	position:absolute;
	left:360px;
	top:1105px;
	font-family:sans-serif;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.avg_result { 
	color:rgba(44.624, 44.624, 44.624, 1);
	width:171px;
	height:103px;
	position:absolute;
	left:651px;
	top:1084px;
	font-family:sans-serif;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.hw_50higher { 
	color:rgba(44.624, 44.624, 44.624, 1);
	width:44px;
	height:103px;
	position:absolute;
	left:133px;
	top:1370px;
	font-family:sans-serif;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}.best_month { 
	color:rgba(255, 170.424, 43.562, 1);
	width:190px;
	height:59px;
	position:absolute;
	left:651px;
	top:1402px;
	font-family:sans-serif;
	text-align:left;
	font-size:46px;
	letter-spacing:0;
}.e228_11231 { 
	background-color:rgba(103, 154, 255, 1);
	width:450px;
	height:68px;
	position:absolute;
	left:375px;
	top:339px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.subject_rus_name { 
	color:rgba(255, 255, 255, 1);
	width:356px;
	height:36px;
	position:absolute;
	left:47px;
	top:16px;
	font-family:sans-serif;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}