.171_4113 { 
	overflow:hidden;
}.e171_4113 { 
	width:1200px;
	height:1605.5px;
	position:absolute;
}.e171_4114 { 
	width:1200px;
	height:1605.5px;
	position:absolute;
	left:0px;
	top:0px;
}.e171_4115 { 
	width:1200px;
	height:1605.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/12_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4116 { 
	width:1057.49951171875px;
	height:1069.5px;
	position:absolute;
	left:71px;
	top:328.5px;
}.e171_4117 { 
	width:396px;
	height:206.25px;
	position:absolute;
	left:0px;
	top:1.499983787536621px;
}.e171_4118 { 
	width:396px;
	height:206.25px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4119 { 
	color:rgba(36.00000165402889, 36.00000165402889, 36.00000165402889, 1);
	width:121px;
	height:77px;
	position:absolute;
	left:27.750350952148438px;
	top:86.99998474121094px;
	font-family:sans-serif;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e171_4120 { 
	width:332.25px;
	height:205.5px;
	position:absolute;
	left:404.2508544921875px;
	top:1.499983787536621px;
}.e171_4121 { 
	width:332.25px;
	height:205.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4122 { 
	color:rgba(36.00000165402889, 36.00000165402889, 36.00000165402889, 1);
	width:105px;
	height:77px;
	position:absolute;
	left:28.500625610351562px;
	top:86.99998474121094px;
	font-family:sans-serif;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e171_4123 { 
	width:312px;
	height:207px;
	position:absolute;
	left:743.2498779296875px;
	top:0px;
}.e171_4124 { 
	width:312px;
	height:207px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4125 { 
	color:rgba(36.00000165402889, 36.00000165402889, 36.00000165402889, 1);
	width:126px;
	height:77px;
	position:absolute;
	left:30.750547409057617px;
	top:88.49996948242188px;
	font-family:sans-serif;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e171_4126 { 
	width:330.75px;
	height:201px;
	position:absolute;
	left:353.99957275390625px;
	top:216.00001525878906px;
}.e171_4127 { 
	width:330.75px;
	height:201px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4128 { 
	color:rgba(255, 255, 255, 1);
	width:15px;
	height:14px;
	position:absolute;
	left:102.37937927246094px;
	top:72.7499771118164px;
	font-family:sans-serif;
	text-align:left;
	font-size:12.897024154663086px;
	letter-spacing:0;
}.e171_4129 { 
	color:rgba(36.00000165402889, 36.00000165402889, 36.00000165402889, 1);
	width:56px;
	height:77px;
	position:absolute;
	left:28.500391006469727px;
	top:71.9999771118164px;
	font-family:sans-serif;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e171_4130 { 
	width:347.25px;
	height:226.5px;
	position:absolute;
	left:0px;
	top:190.49998474121094px;
}.e171_4131 { 
	width:347.25px;
	height:226.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4132 { 
	color:rgba(36.00000165402889, 36.00000165402889, 36.00000165402889, 1);
	width:39px;
	height:77px;
	position:absolute;
	left:28.49964714050293px;
	top:96.74999237060547px;
	font-family:sans-serif;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e171_4133 { 
	width:363px;
	height:223.5px;
	position:absolute;
	left:694.4995727539062px;
	top:194.2500457763672px;
}.e171_4134 { 
	width:363px;
	height:223.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4135 { 
	color:rgba(36.00000165402889, 36.00000165402889, 36.00000165402889, 1);
	width:117px;
	height:77px;
	position:absolute;
	left:29.249921798706055px;
	top:93px;
	font-family:sans-serif;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e171_4136 { 
	width:399px;
	height:300px;
	position:absolute;
	left:656.2490844726562px;
	top:425.25px;
}.e171_4137 { 
	width:399px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/group_48017.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4138 { 
	color:rgba(36.00000165402889, 36.00000165402889, 36.00000165402889, 1);
	width:39px;
	height:77px;
	position:absolute;
	left:22.500391006469727px;
	top:93.75px;
	font-family:sans-serif;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}.e171_4139 { 
	width:640.5px;
	height:306.75px;
	position:absolute;
	left:0px;
	top:425.25px;
}.e171_4140 { 
	width:640.5px;
	height:306.75px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(obs_images/group_48016.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e171_4141 { 
	color:rgba(0, 0, 0, 1);
	width:453px;
	height:36px;
	position:absolute;
	left:62.71683120727539px;
	top:78.99999237060547px;
	font-family:sans-serif;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e171_4142 { 
	color:rgba(0, 0, 0, 1);
	width:491.25px;
	height:18px;
	position:absolute;
	left:62.71683120727539px;
	top:132.10836791992188px;
	font-family:sans-serif;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e171_4143 { 
	color:rgba(0, 0, 0, 1);
	width:491.25px;
	height:18px;
	position:absolute;
	left:62.71683120727539px;
	top:171.07510375976562px;
	font-family:sans-serif;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e171_4144 { 
	color:rgba(0, 0, 0, 1);
	width:491.25px;
	height:18px;
	position:absolute;
	left:62.71683120727539px;
	top:214.09173583984375px;
	font-family:sans-serif;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e171_4145 { 
	color:rgba(0, 0, 0, 1);
	width:491.25px;
	height:18px;
	position:absolute;
	left:62.71683120727539px;
	top:250.10836791992188px;
	font-family:sans-serif;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e171_4667 { 
	color:rgba(75.00000312924385, 135.00000715255737, 255, 1);
	width:240px;
	height:21px;
	position:absolute;
	left:63px;
	top:1048.5px;
	font-family:sans-serif;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}